.shop_main,.shop_main>.shop_ul{
    margin-top: 20px;
}
.shop_main>.shop_ul>li{
    width: 24%;
    height: 24vw;
    display: inline-block;
    color: #d65353;
}
.shop_main>.shop_ul>li>img{
    width: 100%;
    height: 19vw;
}
.shop_main>.shop_ul>li>p{
    margin: 0;
}