<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.guilongkeji.zsst.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.com.guilongkeji.zsst.pojo.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="details" jdbcType="INTEGER" property="details" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="value" jdbcType="DECIMAL" property="value" />
    <result column="assess" jdbcType="VARCHAR" property="assess" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, details, code, type, method, time, price, value, assess, status
  </sql>
  <sql id="BaseExcludeId">
    user_id, details, code, type, method, time, price, value, assess, status
  </sql>
  <sql id="BaseValue">
    #{userId},#{details},#{code},#{type},#{method},#{time},#{price},#{value},#{assess},#{status}
  </sql>
  <sql id="BaseUpdate">
    user_id = #{userId},details = #{details},code=#{code},type=#{type},method=#{method},time=#{time},price=#{price},value=#{value},assess=#{assess},status=#{status}
  </sql>
  <insert id="addOrder">
    insert into order(<include refid="BaseExcludeId"></include>) values (<include refid="BaseValue"></include>)
  </insert>
  <update id="updateOrder">
    update set order (<include refid="BaseUpdate"></include>) where id = #{id}
  </update>
  <delete id="deleteOrderById">
    delete order where id = #{id}
  </delete>
  <select id="getOrderByUserId" resultMap="BaseResultMap">
    select * from order where user_id = #{uid}
  </select>
  <select id="getAllOrder" resultMap="BaseResultMap">
    select * from order
  </select>
</mapper>