<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.guilongkeji.zsst.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="cn.com.guilongkeji.zsst.pojo.Shop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="avatar" jdbcType="INTEGER" property="avatar" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="history" jdbcType="INTEGER" property="history" />
  </resultMap>
  <sql id="Base_Column_List">
    id, avatar, name, dish_id, status, region, history
  </sql>
  <sql id="BaseExcludeId">
    avatar, name, dish_id, status, region, history
  </sql>
  <sql id="BaseInsert">
    #{avatar}, #{name}, #{dishId}, #{status}, #{region}, #{history}
  </sql>
  <sql id="BaseInserts">
    #{i.avatar}, #{i.name}, #{i.dishId}, #{i.status}, #{i.region}, #{i.history}
  </sql>
  <sql id="BaseUpdate">
    avatar=#{avatar}, name=#{name},dish_id= #{dishId}, status=#{status},region= #{region}, history=#{history}
  </sql>
  <sql id="BaseUpdates">
    avatar=#{i.avatar},name= #{i.name}, dish_id=#{i.dishId},status= #{i.status}, region=#{i.region}, history= #{i.history}
  </sql>
  <insert id="addShop">
    insert into shop(<include refid="BaseExcludeId"></include>) values (<include refid="BaseInsert"></include>)
  </insert>
  <insert id="addAllShop">
    insert into shop(<include refid="BaseExcludeId"></include>) values
    <foreach collection="list" item="i" separator=",">
      (<include refid="BaseInserts"></include>)
    </foreach>
  </insert>
  <update id="updateShop">
    update set shop(<include refid="BaseUpdate"></include>) where id = #{id}
  </update>
  <update id="updateShops">
    <foreach collection="list" separator=";" item="i">
      update set shop(<include refid="BaseUpdates"></include>) where id = #{i.id}
    </foreach>
  </update>
  <delete id="removeShop">
    delete shop where id = #{id}
  </delete>
  <delete id="removeShops">
    delete shop where id in (
    <foreach collection="list" item="i" separator=",">
      #{i}
    </foreach>)
  </delete>
  <select id="getShopById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from shop where id = #{id}
  </select>
  <select id="getAllShop" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from shop
  </select>
  <select id="getHotsShop" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from shop order by history desc LIMIT 2
  </select>
</mapper>