<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.guilongkeji.zsst.mapper.SysResourceMapper">
  <resultMap id="BaseResultMap" type="cn.com.guilongkeji.zsst.pojo.SysResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="available" jdbcType="TINYINT" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `type`, priority, parent_id, parent_ids, permission, `available`
  </sql>

  <sql id="Base_Column_Sql">
    `name`, `type`, priority, parent_id, parent_ids, permission, `available`
  </sql>

  <sql id="Base_Column_Java">
    #{name},#{type},#{priority},#{parentId},#{parentIds},#{permission},#{available}
  </sql>

  <sql id="Base_Column_Item">
    #{item.name},#{item.type},#{item.priority},#{item.parentId},#{item.parentIds},#{item.permission},#{item.available}
  </sql>

  <sql id="Base_Column_Update">
    name=#{name}, type=#{type}, priority=#{priority}, parent_id=#{parentId}, parent_ids=#{parentIds}, permission=#{permission}, available=#{available}
  </sql>
  <sql id="Base_Column_Update_Item">
    name=#{item.name}, type=#{item.type}, priority=#{item.priority}, parent_id=#{item.parentId}, parent_ids=#{item.parentIds}, permission=#{item.permission}, available=#{item.available}
  </sql>

  <insert id="addSysResource" parameterType="cn.com.guilongkeji.zsst.pojo.SysResource">
    insert into sys_resource(<include refid="Base_Column_Sql"></include>) values (<include
          refid="Base_Column_Java"></include>)
  </insert>

  <insert id="addSysResources">
    insert into sys_resource(<include refid="Base_Column_Sql"></include>) values
    <foreach collection="sysResourcesList" item="item" separator=",">
        (<include refid="Base_Column_Item"></include>)
    </foreach>
  </insert>

  <update id="updateSysResource">
    update set sys_resource(<include refid="Base_Column_Update"></include>) where id = #{id}
  </update>

  <update id="updateSysResources">
    <foreach collection="sysResourcesList" item="item" separator=";" >
      update set sys_resource(<include refid="Base_Column_Update"></include>) where id = #{item.id}
    </foreach>
  </update>

  <select id="getSysResourceById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from sys_resource where id=#{id}
  </select>

  <select id="getSysResourceByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from sys_resource where id in (
    <foreach collection="list" separator="," item="i">
    #{i}
    </foreach>)
  </select>

  <select id="getAllSysResource" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"></include> from sys_resource
  </select>
</mapper>