<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.guilongkeji.zsst.mapper.UserDetailMapper">
  <resultMap id="BaseResultMap" type="cn.com.guilongkeji.zsst.pojo.UserDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="avatar" jdbcType="INTEGER" property="avatar" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="img" jdbcType="INTEGER" property="img" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, avatar, name, method, img, code, user_id
  </sql>
  <insert id="addUserDetail">
    insert into user_detail(avatar, name, method, img, code, user_id) values
    (#{avatar},#{name},#{method},#{img},#{code},#{userId})
  </insert>
  <update id="updateUserDetail">
    update set user_detail(avatar=#{avatar}, name=#{name}, method=#{method}, img=#{img}, code=#{code}, user_id=#{userId})
  </update>
  <delete id="removeUserDetail">
    delete user_detail where id = #{id}
  </delete>
  <delete id="removeUserDetails">
    delete user_detail where id in
    (<foreach collection="list" item="i" separator=",">
    i
  </foreach> )
  </delete>
  <select id="getAllUserDetail" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from user_detail
  </select>
  <select id="getUserDetailByUser" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from user_detail where user_id = #{uid}
  </select>
</mapper>